.fabric
logs
world
config/Geyser-Fabric/cache
config/Geyser-Fabric/locales
usercache.json
config/plasmovoice/server/languages/de_de.toml
config/plasmovoice/server/languages/en_us.toml
config/plasmovoice/server/languages/es_es.toml
config/plasmovoice/server/languages/he_il.toml
config/plasmovoice/server/languages/pl_pl.toml
config/plasmovoice/server/languages/pt_br.toml
config/plasmovoice/server/languages/ru_ru.toml
config/plasmovoice/server/languages/uk_ua.toml
config/plasmovoice/server/languages/zh_cn.toml
config/plasmovoice/server/languages/zh_tw.toml
config/plasmovoice/server/languages/.crowdin/de_de.toml
config/plasmovoice/server/languages/.crowdin/es_es.toml
config/plasmovoice/server/languages/.crowdin/he_il.toml
config/plasmovoice/server/languages/.crowdin/pl_pl.toml
config/plasmovoice/server/languages/.crowdin/pt_br.toml
config/plasmovoice/server/languages/.crowdin/ru_ru.toml
config/plasmovoice/server/languages/.crowdin/timestamp
config/plasmovoice/server/languages/.crowdin/uk_ua.toml
config/plasmovoice/server/languages/.crowdin/zh_cn.toml
config/plasmovoice/server/languages/.crowdin/zh_tw.toml
config/plasmovoice/server/voice_mutes.json
